<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Jean Coutu</title>
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets\style.css" />
    <script
      src="https://kit.fontawesome.com/2828f7885a.js"
      integrity="sha384-WAsFbnLEQcpCk8lM1UTWesAf5rGTCvb2Y+8LvyjAAcxK1c3s5c0L+SYOgxvc6PWG"
      crossorigin="anonymous"
    ></script>




    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">







  </head>

 <body>

    <!-- Begin Preloader -->
    <div class="preloader-wrapper">
      <div class="preloader">
        <img src="https://i.imgur.com/dbJ8W8q.gif" alt="" />
      </div>
    </div>
    <!-- End Preloader-->
    <!-- Begin Scroll Up Button -->

    <form action="#home">
      <button id="toTop" title="Go to top">
        <i class="fad fa-angle-up"></i>
      </button>
    </form>
    <!-- End Scroll Up Button -->

    <!-- Begin Header -->
    <div class="header-wrapper" id="home">
      <!-- Begin Hero -->
      <section class="hero is-large">
        <!-- Begin Mobile Nav -->
        <nav class="navbar is-transparent is-hidden-desktop">
          <!-- Begin Burger Menu -->
          <div class="navbar-brand">
            <div class="navbar-burger burger" data-target="mobile-nav">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <!-- End Burger Menu -->
          <div id="mobile-nav" class="navbar-menu">
            <div class="navbar-end">
              <div class="navbar-item">
                <a class="navbar-item" href="/#home">
                  Home
                </a>
              </div>
              <div class="navbar-item">
                <a class="navbar-item" href="/#about-me">
                  About Me
                </a>
              </div>
              <div class="navbar-item">
                <a class="navbar-item" href="/#community">
                  Community
                </a>
              </div>
              <div class="navbar-item">
                <a class="navbar-item" href="/#services">
                  Services
                </a>
              </div>
              <div class="navbar-item">
                <a class="navbar-item" href="/#skills">
                  Skills
                </a>
              </div>
              <div class="navbar-item">
                <a class="navbar-item" href="/#my-work">
                  My Work
                </a>
              </div>
              <div class="navbar-item">
                <a class="navbar-item" href="/#contact">
                  Contact
                </a>
              </div>
            </div>
          </div>
        </nav>
        <!-- End Mobile Nav -->

        <!-- Begin Hero Menu -->
        <div class="hero-foot ">
          <div class="hero-foot--wrapper">
            <div class="columns">
              <div class="column is-12 hero-menu-desktop has-text-centered">
                <ul>
                  <li >
                    <a href="/">Home</a>
                  </li>
                  <li>
                    <a href="/#about-me">About Me</a>
                  </li>
                  <li class="is-active">
                    <a href="/show">Community</a>
                  </li>
                  <li>
                    <a href="/#services">Services</a>
                  </li>

                  <li>
                    <a href="/#skills">Skills</a>
                  </li>
                  <li>
                    <a href="/#my-work">My Work</a>
                  </li>
                  <li>
                    <a href="/#contact">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- End Hero Menu -->
      </section>
      <!-- End Hero -->
    </div>
    <!-- End Header -->






    <article class="container is-widescreen">
      <% if (user) { %>
        <a  class="button is-danger" href="/logout" ><i class="material-icons left"><i class="fad fa-sign-out-alt fa-flip-horizontal"></i></i>Log Out</a>
        <br><br><br><br>
        <p class="panel-heading">
          <%= user.name %>
          <figure class="media-left">
            <p>
              <img class="is-rounded" src= "<%=user.picture%>">
            </p>
          </figure>
        </p>
        <% } else { %>
          <a href="/auth/google"><i class="material-icons left"><i class="fad fa-sign-in-alt fa-2x "></i><i class="fab fa-google fa-2x fa-spin"></i></i>Login with Google</a>
          <% } %>
    </article>
    <br>

   <% if (user) {%>
    <div  id="newsFeed"  class="container is-widescreen" style="display:"flex";">
    <form class="" action="/show" method="POST">
      <div class="media-content">
        <div class="field">
          <p class="control">
            <textarea name="content_post" class="textarea" placeholder="What's On your mind?..." required ></textarea>
            <br>
            <a ><i class="fad fa-upload fa-2x"></i></a>
            <a ><i class="fad fa-calendar-plus fa-2x"></i></a>
            <a ><i class="fad fa-plus fa-2x"></i></a>
            <a ><i class="fad fa-smile-wink fa-2x"></i></a>
          </p>
        </div>
        <div class="field">
          <p class="control">
            <button  class="button is-info is-outlined">Post</button>
          </p>
        </div>
      </div>
    </form>
    <% }else{ %>
    <div  id="newsFeed"  class="container is-widescreen" style="display:"flex";">
    <form class="" action="/show" method="POST">
      <div class="media-content">
        <div class="field">
          <p class="control">
            <textarea name="content_post" class="textarea" placeholder="You MUST be LOGIN to Comment" disabled></textarea>
            <br>
            <a ><i class="fad fa-upload fa-2x"></i></a>
            <a ><i class="fad fa-calendar-plus fa-2x"></i></a>
            <a ><i class="fad fa-plus fa-2x"></i></a>
            <a ><i class="fad fa-smile-wink fa-2x"></i></a>
          </p>
        </div>
        <div class="field">
          <p class="control">
            <button  class="button is-info is-outlined" disabled>Post</button>
          </p>
        </div>
      </div>
    </form>
    <% } %>









    <hr>
    <!-- Begin of A news feed -->
    <% for (let p of post) {%>
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <img src= "<%=p.userObj.picture%>">
        </p>
      </figure>

      <div class="media-content">
        <div class="content">
          <p >
            <strong><%= p.userObj.name  %></strong> <small>@<%= p.userObj.name  %></small> <small><%= p.date  %> </small>
            <br>
            <%= p.content %>
          </p>
        </div>
        <% if( user && p.userObj.id === user.id ){ %>
        <nav class="level is-mobile">
          <div class="level-left">
            <!-- comment button -->
            <a class="level-item">
              <span class="icon is-small"><i class="fad fa-reply"></i></span>
            </a>
            <!-- Like button -->
            <a class="level-item">
              <span class="icon is-small"><i class="fad fa-heart"></i></span>
            </a>
            <!-- Edit button -->
            <a class="level-item">
              <span class="icon is-small"><i class="fad fa-edit"></i><textarea name="name" rows="1" cols="8" style="display:none;"><%= p.content %></textarea></span>
            </a>
            <!-- <form class="" action="/show/<%= p.id%>?_method=PUT" method="post">
              <a >
                <button  >
                <span class="icon is-small"><i class="fad fa-edit"></i></span>
              </button  >
              </a> -->
            </form>
          </div>
        </nav>
      </div>


      <div class="media-right">

          <form class="" action="/show/<%= p.id%>?_method=DELETE" method="POST">
            <button  class="delete"></button>

          </form>
        <% }%>
      </div>
    </article>

    <% }%>
  </div>


    <br><br><br>

    <!-- Begin Footer -->

    <footer class="footer">
      <div class="class="content has-text-centered"">


      <p>
        <strong class="white">The Website</strong> By<a href="https://www.linkedin.com/in/dorz/">Dor Zairi.&ensp;&thinsp;<svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="linkedin" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-linkedin fa-w-14 fa-spin fa-lg"><path fill="currentColor" d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z" class=""></path></svg></a>
        Check My GitHub&ensp;&thinsp;
        <a href="https://github.com/Ckrcok"><i class="fab fa-github-square fa-2x"></i></a>
        <a href="https://ckrcok.github.io/Connect-Four-In-Space/">
        Check My First Project Out.&ensp;&thinsp;
        <i class="fad fa-project-diagram fa-2x"></i></a>
    </div>
    </footer>
    <!-- End Footer -->

      <!-- Scripts -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="javascripts\show.js"></script>
      <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
      <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
      <script>
        AOS.init({
          easing: "ease-out",
          duration: 800,
        });
      </script>
      <!-- End  Scripts -->

  </body>
</html>
